<form name="question" action="/questions/new" method="post" class="Question">


  Question: <input type="text" name="content"><br>
  Choice 1: <input type="text" name="choice1">
  Choice 2: <input type="text" name="choice2">
  Choice 3: <input type="text" name="choice3">
  Choice 4: <input type="text" name="choice4">

  <input type="submit" value="Submit">
</form>