<form name="question" action="/questions/new" method="post" class="Question">
<!-- #CR you have no route for 'questions new' this should be removed as you are embedding -->
<!-- #CR use arrays in parameters to avoid having to number them : choice[]-->
  Question: <input type="text" name="content"><br>
  Choice 1: <input type="text" name="choice1">
  Choice 2: <input type="text" name="choice2">
  Choice 3: <input type="text" name="choice3">
  Choice 4: <input type="text" name="choice4">

  <input type="submit" value="Submit">
</form>
