<div class="container">
<h1>Fill in the below to create your Survey</h1>



<form name="survey" action="/surveys/new" method="post" class="Question">
  

  Survey Name: <input type="text" name="survey_name"><br>

  Question 1: <input type="text" name="question1"><br>
  Choice 1: <input type="text" name="choices1[choice1]">
  Choice 2: <input type="text" name="choices1[choice2]">
  Choice 3: <input type="text" name="choices1[choice3]">
  Choice 4: <input type="text" name="choices1[choice4]"><br>

  Question 2: <input type="text" name="question2"><br>
  Choice 1: <input type="text" name="choices2[choice1]">
  Choice 2: <input type="text" name="choices2[choice2]">
  Choice 3: <input type="text" name="choices2[choice3]">
  Choice 4: <input type="text" name="choices2[choice4]"><br>

  Question 3: <input type="text" name="question3"><br>
  Choice 1: <input type="text" name="choices3[choice1]">
  Choice 2: <input type="text" name="choices3[choice2]">
  Choice 3: <input type="text" name="choices3[choice3]">
  Choice 4: <input type="text" name="choices3[choice4]"><br>

<input type="submit" value="Submit">
</form>

</div>


