<h1>Fill in the below to create your Survey</h1>



<form name="survey" action="/surveys/new" method="post" class="Question">

  Question 1: <input type="text" name="question1"><br>
  Option 1: <input type="text" name="question_1[option1]">
  Option 2: <input type="text" name="question_1[option2]">
  Option 3: <input type="text" name="question_1[option3]">
  Option 4: <input type="text" name="question_1[option4]"><br>

  Question 2: <input type="text" name="question2"><br>
  Option 1: <input type="text" name="question_2[option1]">
  Option 2: <input type="text" name="question_2[option2]">
  Option 3: <input type="text" name="question_2[option3]">
  Option 4: <input type="text" name="question_2[option4]"><br>

  Question 3: <input type="text" name="question3"><br>
  Option 1: <input type="text" name="question_3[option1]">
  Option 2: <input type="text" name="question_3[option2]">
  Option 3: <input type="text" name="question_3[option3]">
  Option 4: <input type="text" name="question_3[option4]"><br>

<input type="submit" value="Submit">
</form>


