<div class="container">
<h1>Fill in the below to create your Survey</h1>



<form name="survey" action="/surveys/new" method="post" class="Question">


  Survey Name: <input type="text" name="survey_name"><br><br>
  <div class="question-list">
    <div class="question-choices">
      Question: <input type="text" name="question1"><br><br>
      Choice 1: <input type="text" name="q1c1"><br>
      Choice 2: <input type="text" name="q1c2"><br>
      Choice 3: <input type="text" name="q1c3"><br>
      Choice 4: <input type="text" name="q1c4"><br>
    </div>

  </div>
  <button class="add-question">Add Question</button>
  <input type="submit" value="Submit">
</form><br><br><br>


  <div class="question-choices-template">
    <br><br>
    Question: <input type="text" name="questionX"><br><br>
    Choice 1: <input type="text" name="qXc1"><br>
    Choice 2: <input type="text" name="qXc2"><br>
    Choice 3: <input type="text" name="qXc3"><br>
    Choice 4: <input type="text" name="qXc4"><br>
  </div>

</div>



