<div class="container">
  <h3>Hi, <%= @user.username %></h3>
  <p>Created at:<%=  @user.created_at%></p>
  <a href="/users/<%= @user.id %>/posts">See all My Posts</a>
  <a href="/users/<%= @user.id %>/comments">See all  My Comments</a>
</div>
