<div class="container">
  <h3>Hi, <%= @user.name %></h3>
  <p>Account created at:<%=  @user.created_at%></p>
  
  <h4>Surveys Created:</h4>

  <% if @user.surveys.length == 0 %>
    <p>You've created no surveys yet!</p>
  <% else %>
    <ul>
  <% @user.surveys.each do |survey| %>
      <li><a href="/results/<%= survey.id %>"><%= survey.name %></a></li>
  <% end  %>
  </ul>
  <% end %>
</div>
