<div class="container">
  <h1>Sign Up</h1>

  <form id="sign-up" method="post" action="/users">

    <label class="label" for="email">Username</label>
    <input type="text" name="user[username]" placeholder="rubylover" >
    <br>

    <label class="label" for="password">Password</label>
    <input type="password" name="user[password_hash]" placeholder="6 or more characters">
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>

</div>
