<div class="container"> 
  
  <h3><%= @survey.name %></h3>

<% @questions.each do |question| %>
    <h3 id="question_content"><%= question.content %></h3>
      <% question.choices.each do |choice| %>
      <p><%= choice.content %>
      <%= @answers.select {|answer| answer.choice_id == choice.id}.length %></p>
      <% end %>
  <% end %>

</div>
